@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

html {
    font-size: 62.5%;
    user-select: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
}

.default {
    font-size: 15px;
    width: 100%;
    outline: none;
    padding: 8px 16px;
    border: 1px solid #cccccc;
    border-radius: 8px;
}

.default.icon {
    padding-left: 45px;
}

.invalid {
    font-size: 15px;
    width: 100%;
    outline: none;
    padding: 8px 16px;
    border: 1px solid red;
    border-radius: 8px;
}

.tooltip-bottom::before {
    content: '';
    position: absolute;
    display: block;
    width: 0px;
    left: 50%;
    bottom: 0;
    border: 10px solid transparent;
    border-bottom: 0;
    border-top: 10px solid #cccccc;
    transform: translate(-50%, calc(100% + 5px));
}
